body {
	background-color: #f8e9a1;
	font-family: Impact, serif;
}

*:focus {
	outline: none;
}

fieldset {
	border: none;
}

#options {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.option {
	height: 150px;
	width: 250px;
	border: none;
	margin: 5px 5px 0;

	font-size: 36px;
	font-family: inherit;

	transition: all 0.2s;
	cursor: pointer;
}

.option span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition-duration: 0.5s;
}

.option span:after {
	position: absolute;
}

.option:hover span {
	transition-duration: 0.5s;
	transform: translateX(-5%);
}

.option:hover span:after {
	content: "\00a0\203A";
}

#create {
	display: inline;
}

#create:hover #create-content {
	display: block;
	animation-name: fade-in;
	animation-duration: 0.5s;
}

#create-button {
	display: inherit;
	float: left;
	background-color: #374785;
	color: white;
	/*transition-duration: 0.5s;*/
}

#create-button:hover {
	filter: brightness(120%);
}

#join {
	display: inline;
}

#join-button {
	background-color: #a8d0e6;
}

#join-button:hover {
	filter: brightness(110%);
}

#join:hover #join-content {
	display: block;
	animation-name: fade-in;
	animation-duration: 0.5s;
}

.form-content {
	width: 250px;
	height: 50px;
	margin: 0 5px 5px 5px;
	display: none;
	position: absolute;
	top: 100%;
}

#create-content {
	background-color: #374785;
}

#join-content {
	left: 50%;
	background-color: #a8d0e6;
}

.form {
	width: fit-content;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form * {
	display: inline;
}

.form input {
	border: 1px solid white;
	border-radius: 0;
	padding: 0;
	margin: 0;

	width: 200px;
	height: 30px;

	font-size: 16px;
	text-align: center;
}

.form input:hover {
	/*border: 1px solid red;*/
}

.form button {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;

	width: 30px;
	height: 32px;

	position: relative;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}