body {
    background-color: #f8e9a1;
    font-family: "Courier New", serif;
}

*:focus {
    outline: none;
}

fieldset {
    border: none;
}

#window {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table {
    width: 600px;
    height: 500px;
    background-color: white;
    border-collapse: collapse;
}

#table th, td {
    text-align: center;
}

#room-title {
    font-size: 26px;
    height: 50px;
    background-color: lightgray;
}

#header {
    height: 40px;
}

#info {
    vertical-align: top;
}

#info th {
    color: white;
}

.players {
    border-right: 1px solid #d0d0d0;
}

#players-list {
    text-align: center;
    overflow: scroll;
}

#players-list .player-name::selection {
    background: rgba(255, 255, 255, 0);
}

#control {
    height: 40px;
    border-top: 1px solid #d0d0d0;
}

#money {
    border-bottom: 1px solid #d0d0d0;
}

#log {
    background-color: #f1f1f1;
    overflow: scroll;
    padding: 10px;
}

#log .message {
    margin: 3px;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 12px;
}

#log .message::selection {
    background: rgba(255, 255, 255, 0);
}

#log .error {
    color: red;
}

.player-name {
    border-radius: 5px;
    background-color: #d0e0ff;
    margin: 3px;
    padding: 3px;

    transition-duration: 0.2s;
}